<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.hzitshop.mapper.OrgMapper">

    <sql id="tbOrgBaseColumnSql">
        org_id,
        org_parent_id,
        org_code,
        name,
        description,
        create_time,
        create_by,
        update_time,
        update_by
    </sql>

    <sql id="tbOrgBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.orgId)">
                    org_id = #{map.orgId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.orgParentId)">
                    AND org_parent_id = #{map.orgParentId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.orgCode)">
                    AND org_code = #{map.orgCode}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.name)">
                    AND name = #{map.name}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.description)">
                    AND description = #{map.description}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.createTime)">
                    AND create_time = #{map.createTime}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.createBy)">
                    AND create_by = #{map.createBy}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.updateTime)">
                    AND update_time = #{map.updateTime}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.updateBy)">
                    AND update_by = #{map.updateBy}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertTbOrg" parameterType="com.hzit.hzitshop.entity.Org">
        INSERT INTO tb_org(
        <include refid="tbOrgBaseColumnSql"/>
        )VALUES(
            #{orgId},
            #{orgParentId},
            #{orgCode},
            #{name},
            #{description},
            #{createTime},
            #{createBy},
            #{updateTime},
            #{updateBy}
        )
    </insert>

    
    <delete id="deleteTbOrgByOrgId" parameterType="Integer">
        DELETE FROM tb_org WHERE org_id = #{orgId}
    </delete>

    <update id="updateTbOrg" parameterType="com.hzit.hzitshop.entity.Org">
        UPDATE tb_org
        <set>
                org_parent_id = #{orgParentId} ,
                org_code = #{orgCode} ,
                name = #{name} ,
                description = #{description} ,
                update_time = #{updateTime} ,
                update_by = #{updateBy} ,
        </set>
        WHERE org_id = #{orgId}
    </update>

    <select id="searchTbOrgByParams" parameterType="map" resultMap="tbOrgMap">
        SELECT
        <include refid="tbOrgBaseColumnSql"/>
        FROM tb_org
        <include refid="tbOrgBaseWhereSql"/>
        limit #{map.offset},#{map.limit}
    </select>
    <!--根据orgId 查询一条数据-->
    <select id="selectOne" parameterType="int" resultMap="tbOrgMap">
        select
        <include refid="tbOrgBaseColumnSql"/>
        from tb_org where org_id=#{orgId}
    </select>
    <!--查询总记录数-->
    <select id="getTotal" resultType="int" parameterType="map">
        select count(*) from tb_org
    </select>
    <resultMap type="com.hzit.hzitshop.entity.Org" id="tbOrgMap">
        <id column="org_id" property="orgId"/>
        <result column="org_parent_id" property="orgParentId"/>
        <result column="org_code" property="orgCode"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

</mapper>
