<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.hzitshop.mapper.OrgPermissionMapper">

    <sql id="tbOrgPermissionBaseColumnSql">
        id,
        permission_id,
        org_id
    </sql>

    <sql id="tbOrgPermissionBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.id)">
                    id = #{map.id}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.permissionId)">
                    AND permission_id = #{map.permissionId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.orgId)">
                    AND org_id = #{map.orgId}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertTbOrgPermission" parameterType="com.hzit.hzitshop.entity.OrgPermission">
        INSERT INTO tb_org_permission(
        <include refid="tbOrgPermissionBaseColumnSql"/>
        )VALUES(
            #{id},
            #{permissionId},
            #{orgId}
        )
    </insert>

    
    <delete id="deleteTbOrgPermissionById" parameterType="Integer">
        DELETE FROM tb_org_permission WHERE id = #{id}
    </delete>

    <update id="updateTbOrgPermission" parameterType="com.hzit.hzitshop.entity.OrgPermission">
        UPDATE tb_org_permission
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(permissionId)">
                permission_id = #{permissionId} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orgId)">
                org_id = #{orgId} ,
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="searchTbOrgPermissionByParams" parameterType="map" resultMap="tbOrgPermissionMap">
        SELECT
        <include refid="tbOrgPermissionBaseColumnSql"/>
        FROM tb_org_permission
        <include refid="tbOrgPermissionBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.hzitshop.entity.OrgPermission" id="tbOrgPermissionMap">
        <id column="id" property="id"/>
        <result column="permission_id" property="permissionId"/>
        <result column="org_id" property="orgId"/>
    </resultMap>

</mapper>
