<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.hzitshop.mapper.OrgRoleMapper">

    <sql id="tbOrgRoleBaseColumnSql">
        id,
        org_id,
        role_id
    </sql>

    <sql id="tbOrgRoleBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.id)">
                    id = #{map.id}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.orgId)">
                    AND org_id = #{map.orgId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleId)">
                    AND role_id = #{map.roleId}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertTbOrgRole" parameterType="com.hzit.hzitshop.entity.OrgRole">
        INSERT INTO tb_org_role(
        <include refid="tbOrgRoleBaseColumnSql"/>
        )VALUES(
            #{id},
            #{orgId},
            #{roleId}
        )
    </insert>

    
    <delete id="deleteTbOrgRoleById" parameterType="Integer">
        DELETE FROM tb_org_role WHERE id = #{id}
    </delete>

    <update id="updateTbOrgRole" parameterType="com.hzit.hzitshop.entity.OrgRole">
        UPDATE tb_org_role
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orgId)">
                org_id = #{orgId} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roleId)">
                role_id = #{roleId} ,
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="searchTbOrgRoleByParams" parameterType="map" resultMap="tbOrgRoleMap">
        SELECT
        <include refid="tbOrgRoleBaseColumnSql"/>
        FROM tb_org_role
        <include refid="tbOrgRoleBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.hzitshop.entity.OrgRole" id="tbOrgRoleMap">
        <id column="id" property="id"/>
        <result column="org_id" property="orgId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

</mapper>
