<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.hzitshop.mapper.PermissionMapper">

    <sql id="tbPermissionBaseColumnSql">
        id,
        pid,
        title,
        icon,
        url,
        spread,
        description,
        create_time,
        create_by,
        update_by,
        update_time
    </sql>

    <sql id="tbPermissionBaseWhereSql">
        <if test="map!=null">
            <where>
                    id = #{map.id}
                    AND pid = #{map.pid}
                    AND title = #{map.title}
                    AND icon = #{map.icon}
                    AND url = #{map.url}
                    AND spread = #{map.spread}
                    AND description = #{map.description}
                    AND update_by = #{map.updateBy}
                    AND update_time = #{map.updateTime}
            </where>
        </if>
    </sql>

    <insert id="insertTbPermission" parameterType="com.hzit.hzitshop.entity.Permission">
        INSERT INTO tb_permission(
        <include refid="tbPermissionBaseColumnSql"/>
        )VALUES(
            #{id},
            #{pid},
            #{title},
            #{icon},
            #{url},
            #{spread},
            #{description},
            #{createTime},
            #{createBy},
            #{updateBy},
            #{updateTime}
        )
    </insert>

    
    <delete id="deleteTbPermissionById" parameterType="Integer">
        DELETE FROM tb_permission WHERE id = #{id}
    </delete>

    <update id="updateTbPermission" parameterType="com.hzit.hzitshop.entity.Permission">
        UPDATE tb_permission
        <set>
                pid = #{pid} ,
                title = #{title} ,
                icon = #{icon} ,
                url = #{url} ,
                spread = #{spread} ,
                description = #{description} ,
                update_by = #{updateBy} ,
                update_time = #{updateTime} ,
        </set>
        WHERE id = #{id}
    </update>

    <select id="searchTbPermissionByParams" parameterType="map" resultMap="tbPermissionMap">
        SELECT
        <include refid="tbPermissionBaseColumnSql"/>
        FROM tb_permission
        limit #{map.offset},#{map.limit}
    </select>
    <!--根据id获取指定的数据-->
    <select id="selectOne" parameterType="int" resultMap="tbPermissionMap">
        SELECT
        <include refid="tbPermissionBaseColumnSql"/>
        FROM tb_permission
        where id=#{id}
    </select>
    <select id="getTotal" resultType="int" parameterType="map">
        select count(*) from tb_permission
    </select>
    <resultMap type="com.hzit.hzitshop.entity.Permission" id="tbPermissionMap">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="title" property="title"/>
        <result column="icon" property="icon"/>
        <result column="url" property="url"/>
        <result column="spread" property="spread"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
