<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.hzitshop.mapper.RolePermissionMapper">

    <sql id="tbRolePermissionBaseColumnSql">
        id,
        role_id,
        permission_id
    </sql>

    <sql id="tbRolePermissionBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.id)">
                    id = #{map.id}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleId)">
                    AND role_id = #{map.roleId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.permissionId)">
                    AND permission_id = #{map.permissionId}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertTbRolePermission" parameterType="com.hzit.hzitshop.entity.RolePermission">
        INSERT INTO tb_role_permission(
        <include refid="tbRolePermissionBaseColumnSql"/>
        )VALUES(
            #{id},
            #{roleId},
            #{permissionId}
        )
    </insert>

    <!--根据roleId删除数据-->
    <delete id="deleteByRoleId" parameterType="int">
        delete from tb_role_permission where  role_id=#{roleId}
    </delete>
    <!--根据角色编号获取该角色所拥有的权限信息-->
    <!--<select id="selectByRoleId" resultMap="tbRolePermissionMap" parameterType="int">-->
        <!--select * from tb_role_permission where role_id=#{roleId}-->
    <!--</select>-->
    <select id="searchTbRolePermissionByParams" parameterType="map" resultMap="tbRolePermissionMap">
        SELECT
        <include refid="tbRolePermissionBaseColumnSql"/>
        FROM tb_role_permission
        <include refid="tbRolePermissionBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.hzitshop.entity.RolePermission" id="tbRolePermissionMap">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="permission_id" property="permissionId"/>
    </resultMap>

</mapper>
