<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.hzitshop.mapper.UserOrgMapper">

    <sql id="tbUserOrgBaseColumnSql">
        id,
        org_id,
        user_id
    </sql>

    <sql id="tbUserOrgBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.id)">
                    id = #{map.id}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.orgId)">
                    AND org_id = #{map.orgId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.userId)">
                    AND user_id = #{map.userId}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertTbUserOrg" parameterType="com.hzit.hzitshop.entity.UserOrg">
        INSERT INTO tb_user_org(
        <include refid="tbUserOrgBaseColumnSql"/>
        )VALUES(
            #{id},
            #{orgId},
            #{userId}
        )
    </insert>

    
    <delete id="deleteTbUserOrgById" parameterType="Integer">
        DELETE FROM tb_user_org WHERE id = #{id}
    </delete>

    <update id="updateTbUserOrg" parameterType="com.hzit.hzitshop.entity.UserOrg">
        UPDATE tb_user_org
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orgId)">
                org_id = #{orgId} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(userId)">
                user_id = #{userId} ,
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="searchTbUserOrgByParams" parameterType="map" resultMap="tbUserOrgMap">
        SELECT
        <include refid="tbUserOrgBaseColumnSql"/>
        FROM tb_user_org
        <include refid="tbUserOrgBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.hzitshop.entity.UserOrg" id="tbUserOrgMap">
        <id column="id" property="id"/>
        <result column="org_id" property="orgId"/>
        <result column="user_id" property="userId"/>
    </resultMap>

</mapper>
